@{
    ViewData["Title"] = "Home Page";
}
<link href="~/Scripts/plugin/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<article>
    <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="well text-center">
            <div class="">
                <i class="fa fa-3x">0</i>
            </div>
            <h3>Category</h3>
            <div class="row" style="border-top: 1px dashed lightgray;color:rgba(0, 0, 0, 0.2);width: 100%;margin: 0;padding: 0;">
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightblue;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/CategoryCreate">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightsalmon;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="">
                        <i class="fa fa-upload fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightgoldenrodyellow;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/CategoryView">
                        <i class="fa fa-table fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="well text-center">
            <div class="">
                <i class="fa fa-3x">0</i>
            </div>
            <h3>Business Type</h3>
            <div class="row" style="border-top: 1px dashed lightgray;color:rgba(0, 0, 0, 0.2);width: 100%;margin: 0;padding: 0;">
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightblue;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/BusinessTypeCreate">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightsalmon;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="">
                        <i class="fa fa-upload fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightgoldenrodyellow;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/BusinessTypeView">
                        <i class="fa fa-table fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="well text-center">
            <div class="">
                <i class="fa fa-3x">0</i>
            </div>
            <h3>Address Type</h3>
            <div class="row" style="border-top: 1px dashed lightgray;color:rgba(0, 0, 0, 0.2);width: 100%;margin: 0;padding: 0;">
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightblue;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/AddressTypeCreate">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightsalmon;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="">
                        <i class="fa fa-upload fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightgoldenrodyellow;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/AddressTypeView">
                        <i class="fa fa-table fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="well text-center">
            <div class="">
                <i class="fa fa-3x">0</i>
            </div>
            <h3>Country</h3>
            <div class="row" style="border-top: 1px dashed lightgray;color:rgba(0, 0, 0, 0.2);width: 100%;margin: 0;padding: 0;">
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightblue;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/CountryCreate">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightsalmon;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="">
                        <i class="fa fa-upload fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightgoldenrodyellow;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/CountryView">
                        <i class="fa fa-table fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="well text-center">
            <div class="">
                <i class="fa fa-3x">0</i>
            </div>
            <h3>State</h3>
            <div class="row" style="border-top: 1px dashed lightgray;color:rgba(0, 0, 0, 0.2);width: 100%;margin: 0;padding: 0;">
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightblue;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/StateCreate">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightsalmon;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="">
                        <i class="fa fa-upload fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightgoldenrodyellow;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/StateView">
                        <i class="fa fa-table fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="well text-center">
            <div class="">
                <i class="fa fa-3x">0</i>
            </div>
            <h3>City</h3>
            <div class="row" style="border-top: 1px dashed lightgray;color:rgba(0, 0, 0, 0.2);width: 100%;margin: 0;padding: 0;">
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightblue;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/CityCreate">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightsalmon;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="">
                        <i class="fa fa-upload fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightgoldenrodyellow;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/CityView">
                        <i class="fa fa-table fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="well text-center">
            <div class="">
                <i class="fa fa-3x">0</i>
            </div>
            <h3>Business</h3>
            <div class="row" style="border-top: 1px dashed lightgray;color:rgba(0, 0, 0, 0.2);width: 100%;margin: 0;padding: 0;">
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightblue;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/BusinessCreate">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightsalmon;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="">
                        <i class="fa fa-upload fa-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color:lightgoldenrodyellow;padding:3px 0 3px 0;">
                    <a href="javascript:void(0)" class="masterItem" data-pageid="/Master/BusinessView">
                        <i class="fa fa-table fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
@section pagespecific{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/plugin/select2/select2.min.js"></script>
    <script type="text/javascript">
        $('.masterItem').on('click', function () {
            var pageId = $(this).data('pageid');
            showModalPopUp(pageId);
        });

        function showModalPopUp(pageId) {
            $('#myModal').modal({ backdrop: 'static', keyboard: false });
            $('#myModal').modal('show');
            $('#myModal').find('.modal-content').html('');
            $.ajax({
                url: pageId,
                dataType: 'html',
                type: 'GET',
                success: function (result) {
                    $('#myModal').find('.modal-content').html(result);
                }
            })
        }
    </script>
}
