@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form method="POST">
    <label for="companyNumber">Company number (e.g. 10440441)</label>
    <input type="text" id="companyNumber" name="companyNumber" placeholder="Company number" />
    <input type="submit" />
    <br />
    <div style="display: block; width:100%;">
        <textarea rows="50" style="width:100%; max-width: 100%;">@ViewBag.JsonData</textarea>
    </div>
</form>
